services:
  client:
    image: public.ecr.aws/n6q5v2z5/project-starmie-amd64:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - TZ=Asia/Shanghai

  v2ray:
    image: v2fly/v2fly-core:latest
    restart: always
    ports:
      - "11055:11055"
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - v2ray-config:/etc/v2ray
    command: run -c /etc/v2ray/config.json

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - nginx-conf:/etc/nginx/conf.d
      - certs:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    command: nginx -g 'daemon off;'

  certbot:
    image: certbot/certbot:latest
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - certs:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    depends_on:
      - nginx
    command: certonly --reinstall --webroot --webroot-path=/var/www/certbot/ --email ${EMAIL} --agree-tos --no-eff-email -d ${DOMAIN}

volumes:
  v2ray-config:
  nginx-conf:
  certs:
  certbot-www:
